.close {
    position: absolute;
    top: 0px;
    right: 6px;
    margin: 10px;
}
.ion-list {
    margin: 0;
    padding: 0;
  }

  .completed {
    text-decoration: line-through;
    color: rgb(153, 4, 190); // O cualquier color que prefieras
  }
  
  